In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [6]:
data=pd.read_csv('Lending_Club_Data.csv')

In [7]:
data.shape

(10000, 28)

In [8]:
data.is_bad.value_counts()

is_bad
0    8705
1    1295
Name: count, dtype: int64

In [9]:
event_rate=(1295/10000)*100

In [10]:
data.describe()

,Id,is_bad,annual_inc,debt_to_income,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mths_since_last_major_derog
count,10000.00000,10000.000000,9999.000000,10000.000000,9995.000000,9995.000000,3684.000000,840.000000,9995.000000,9995.000000,1.000000e+04,9974.000000,9995.000000,9968.0,10000.000000
mean,5000.50000,0.129500,68203.011539,13.338704,0.148174,1.066933,35.890337,61.652381,9.334567,0.060130,1.427101e+04,48.450771,22.011306,0.0,2.002200
std,2886.89568,0.335769,48590.252757,6.754212,0.506270,1.476052,22.361443,46.189619,4.526590,0.251245,2.543791e+04,28.220557,11.709400,0.0,0.810963
min,1.00000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000e+00,0.000000,1.000000,0.0,1.000000
25%,2500.75000,0.000000,40000.000000,8.160000,0.000000,0.000000,18.000000,0.000000,6.000000,0.000000,3.524500e+03,25.000000,13.000000,0.0,1.000000
50%,5000.50000,0.000000,58000.000000,13.410000,0.000000,1.000000,34.000000,86.000000,9.000000,0.000000,8.645500e+03,48.700000,20.000000,0.0,2.000000
75%,7500.25000,0.000000,82000.000000,18.692500,0.000000,2.000000,53.000000,101.000000,12.000000,0.000000,1.695225e+04,71.800000,29.000000,0.0,3.000000
max,10000.00000,1.000000,900000.000000,29.990000,11.000000,25.000000,120.000000,119.000000,39.000000,3.000000,1.207359e+06,100.600000,90.000000,0.0,3.000000

In [11]:
#percentage of null values
100*data.isnull().sum()[data.isnull().sum()>0]/data.shape[0]

emp_title                      5.92
annual_inc                     0.01
Notes                         32.31
purpose                        0.04
delinq_2yrs                    0.05
earliest_cr_line               0.05
inq_last_6mths                 0.05
mths_since_last_delinq        63.16
mths_since_last_record        91.60
open_acc                       0.05
pub_rec                        0.05
revol_util                     0.26
total_acc                      0.05
collections_12_mths_ex_med     0.32
dtype: float64

In [12]:
data.drop(labels=['mths_since_last_delinq','mths_since_last_record','collections_12_mths_ex_med','Notes','emp_title','earliest_cr_line','purpose','emp_length'],axis=1,inplace=True)

In [13]:
data.head()

,Id,is_bad,home_ownership,annual_inc,verification_status,pymnt_plan,purpose_cat,zip_code,addr_state,debt_to_income,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,mths_since_last_major_derog,policy_code
0,1,0,MORTGAGE,50000.0,not verified,n,medical,766xx,TX,10.87,0.0,0.0,15.0,0.0,12087,12.1,44.0,f,1,PC4
1,2,0,RENT,39216.0,not verified,n,debt consolidation,660xx,KS,9.15,0.0,2.0,4.0,0.0,10114,64.0,5.0,f,2,PC1
2,3,0,RENT,65000.0,not verified,n,credit card,916xx,CA,11.24,0.0,0.0,4.0,0.0,81,0.6,8.0,f,3,PC4
3,4,0,MORTGAGE,57500.0,not verified,n,debt consolidation,124xx,NY,6.18,1.0,0.0,6.0,0.0,10030,37.1,23.0,f,2,PC2
4,5,0,MORTGAGE,50004.0,VERIFIED - income,n,debt consolidation,439xx,OH,19.03,0.0,4.0,8.0,0.0,10740,40.4,21.0,f,3,PC3

In [14]:
data.drop(labels=['Id'],axis=1,inplace=True)

In [15]:
num_cols=data.describe().columns.tolist()
num_cols

['is_bad',
 'annual_inc',
 'debt_to_income',
 'delinq_2yrs',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'mths_since_last_major_derog']

In [16]:
data.columns.tolist()
data

,is_bad,home_ownership,annual_inc,verification_status,pymnt_plan,purpose_cat,zip_code,addr_state,debt_to_income,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,mths_since_last_major_derog,policy_code
0,0,MORTGAGE,50000.0,not verified,n,medical,766xx,TX,10.87,0.0,0.0,15.0,0.0,12087,12.1,44.0,f,1,PC4
1,0,RENT,39216.0,not verified,n,debt consolidation,660xx,KS,9.15,0.0,2.0,4.0,0.0,10114,64.0,5.0,f,2,PC1
2,0,RENT,65000.0,not verified,n,credit card,916xx,CA,11.24,0.0,0.0,4.0,0.0,81,0.6,8.0,f,3,PC4
3,0,MORTGAGE,57500.0,not verified,n,debt consolidation,124xx,NY,6.18,1.0,0.0,6.0,0.0,10030,37.1,23.0,f,2,PC2
4,0,MORTGAGE,50004.0,VERIFIED - income,n,debt consolidation,439xx,OH,19.03,0.0,4.0,8.0,0.0,10740,40.4,21.0,f,3,PC3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,MORTGAGE,66250.0,VERIFIED - income,n,wedding,014xx,MA,9.40,0.0,1.0,8.0,0.0,3656,24.1,10.0,f,2,PC3
9996,0,RENT,26000.0,VERIFIED - income source,n,debt consolidation,112xx,NY,20.49,0.0,1.0,8.0,0.0,6709,58.9,12.0,f,2,PC3
9997,0,RENT,47831.0,not verified,n,debt consolidation,070xx,NJ,24.13,0.0,0.0,9.0,1.0,11346,60.7,17.0,f,3,PC3
9998,0,MORTGAGE,70000.0,not verified,n,major purchase,244xx,VA,16.18,2.0,2.0,9.0,0.0,17157,50.9,27.0,f,2,PC3
9999,0,RENT,70560.0,not verified,n,credit card,900xx,CA,16.13,0.0,1.0,15.0,0.0,2304,22.6,34.0,f,2,PC5

In [18]:
cat_cols=list(set(data.columns.tolist())-set(num_cols))
cat_cols

['pymnt_plan',
 'purpose_cat',
 'verification_status',
 'zip_code',
 'home_ownership',
 'addr_state',
 'policy_code',
 'initial_list_status']

In [19]:
target_variable='is_bad'

In [20]:
data[num_cols].isnull().sum()

is_bad                          0
annual_inc                      1
debt_to_income                  0
delinq_2yrs                     5
inq_last_6mths                  5
open_acc                        5
pub_rec                         5
revol_bal                       0
revol_util                     26
total_acc                       5
mths_since_last_major_derog     0
dtype: int64

In [21]:
data[cat_cols].head()

,pymnt_plan,purpose_cat,verification_status,zip_code,home_ownership,addr_state,policy_code,initial_list_status
0,n,medical,not verified,766xx,MORTGAGE,TX,PC4,f
1,n,debt consolidation,not verified,660xx,RENT,KS,PC1,f
2,n,credit card,not verified,916xx,RENT,CA,PC4,f
3,n,debt consolidation,not verified,124xx,MORTGAGE,NY,PC2,f
4,n,debt consolidation,VERIFIED - income,439xx,MORTGAGE,OH,PC3,f

In [22]:
data[num_cols].head()

,is_bad,annual_inc,debt_to_income,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,mths_since_last_major_derog
0,0,50000.0,10.87,0.0,0.0,15.0,0.0,12087,12.1,44.0,1
1,0,39216.0,9.15,0.0,2.0,4.0,0.0,10114,64.0,5.0,2
2,0,65000.0,11.24,0.0,0.0,4.0,0.0,81,0.6,8.0,3
3,0,57500.0,6.18,1.0,0.0,6.0,0.0,10030,37.1,23.0,2
4,0,50004.0,19.03,0.0,4.0,8.0,0.0,10740,40.4,21.0,3

In [23]:
data[cat_cols].nunique()

pymnt_plan               2
purpose_cat             27
verification_status      3
zip_code               720
home_ownership           5
addr_state              50
policy_code              5
initial_list_status      2
dtype: int64

In [24]:
#data duplicacy check
data[data.duplicated()]

Empty DataFrame
Columns: [is_bad, home_ownership, annual_inc, verification_status, pymnt_plan, purpose_cat, zip_code, addr_state, debt_to_income, delinq_2yrs, inq_last_6mths, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, mths_since_last_major_derog, policy_code]
Index: []

In [25]:
data.head()

,is_bad,home_ownership,annual_inc,verification_status,pymnt_plan,purpose_cat,zip_code,addr_state,debt_to_income,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,mths_since_last_major_derog,policy_code
0,0,MORTGAGE,50000.0,not verified,n,medical,766xx,TX,10.87,0.0,0.0,15.0,0.0,12087,12.1,44.0,f,1,PC4
1,0,RENT,39216.0,not verified,n,debt consolidation,660xx,KS,9.15,0.0,2.0,4.0,0.0,10114,64.0,5.0,f,2,PC1
2,0,RENT,65000.0,not verified,n,credit card,916xx,CA,11.24,0.0,0.0,4.0,0.0,81,0.6,8.0,f,3,PC4
3,0,MORTGAGE,57500.0,not verified,n,debt consolidation,124xx,NY,6.18,1.0,0.0,6.0,0.0,10030,37.1,23.0,f,2,PC2
4,0,MORTGAGE,50004.0,VERIFIED - income,n,debt consolidation,439xx,OH,19.03,0.0,4.0,8.0,0.0,10740,40.4,21.0,f,3,PC3

In [26]:
len(data.columns)

19

In [32]:
#correlation Matrix
my_data=data.select_dtypes(exclude=[object])
my_data.corr()

,is_bad,annual_inc,debt_to_income,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,mths_since_last_major_derog
is_bad,1.000000,-0.050975,0.029873,0.021842,-0.001146,-0.020356,0.032174,-0.016202,0.087876,-0.055307,0.015481
annual_inc,-0.050975,1.000000,-0.130184,0.038670,0.056718,0.233821,-0.010398,0.359817,0.030792,0.329146,-0.002476
debt_to_income,0.029873,-0.130184,1.000000,-0.034393,0.012819,0.301003,-0.005351,0.163794,0.271439,0.233594,-0.007031
delinq_2yrs,0.021842,0.038670,-0.034393,1.000000,0.039215,0.027398,0.020411,-0.030090,-0.051301,0.081918,-0.002744
inq_last_6mths,-0.001146,0.056718,0.012819,0.039215,1.000000,0.088105,0.054711,0.043130,-0.037232,0.084671,0.008570
open_acc,-0.020356,0.233821,0.301003,0.027398,0.088105,1.000000,0.006680,0.233842,-0.074018,0.695387,-0.006169
pub_rec,0.032174,-0.010398,-0.005351,0.020411,0.054711,0.006680,1.000000,-0.038547,0.051016,-0.013598,-0.002614
revol_bal,-0.016202,0.359817,0.163794,-0.030090,0.043130,0.233842,-0.038547,1.000000,0.201962,0.257274,-0.007541
revol_util,0.087876,0.030792,0.271439,-0.051301,-0.037232,-0.074018,0.051016,0.201962,1.000000,-0.051072,-0.002756
total_acc,-0.055307,0.329146,0.233594,0.081918,0.084671,0.695387,-0.013598,0.257274,-0.051072,1.000000,0.002505
mths_since_last_major_derog,0.015481,-0.002476,-0.007031,-0.002744,0.008570,-0.006169,-0.002614,-0.007541,-0.002756,0.002505,1.000000